@model List<BaiTapLon.Models.GioHang>
@{
    Layout = "~/Views/Shared/_Layout123.cshtml";
}

<div class="grid wide">
            <div class="row">
                <div class="col l-8 m-12 s-12">
                    <div class="main__cart">
                        <div class="row title">
                            <div class="col l-4 m-4 s-8">Sản phẩm</div>
                            <div class="col l-2 m-2 s-0">Giá</div>
                            <div class="col l-2 m-2 s-0">Số lượng</div>
                            <div class="col l-2 m-2 s-4">Thanh toán</div>
                            <div class="col l-1 m-1 s-0">Xóa</div>
                        </div>
                        @foreach(var item in Model)
                        {
                            <div class="row item">
                                    <div class="col l-4 m-4 s-8">
                                        <div class="main__cart-product">
                                            <img src=@("/assets/img" + item.SanPham.HinhAnh) alt="">
                                            <div class="name">@item.SanPham.TenSanPham</div>
                                        </div>
                                    </div>
                                    <div class="col l-2 m-2 s-0">
                                        <div class="main__cart-price">@item.SanPham.Gia</div>
                                    </div>
                                    <div class="col l-2 m-2 s-0">
                                        <div class="buttons_added">
                                            <input class="minus is-form" type="button" value="-" onclick="minusProduct()">
                                            <input aria-label="quantity" class="input-qty" max="10" min="1" name="" type="number" value=@item.SoLuong>
                                            <input class="plus is-form" type="button" value="+" onclick="plusProduct()">
                                        </div>
                                    </div>
                                    <div class="col l-2 m-2 s-4">
                                        <a asp-action="ThanhToan" asp-controller="GioHangs" asp-route-id ="@item.ID" style="font-size: 20px">Thanh toán</a>
                                    </div>
                                    <a asp-action="Delete" asp-controller="GioHangs" asp-route-id="@item.ID" class="col l-1 m-1 s-0">
                                        <span class="main__cart-icon">
                                        <i class="far fa-times-circle "></i>
                                    </span>
                                    </a>
                            </div>
                             
                        }
                                </div>
                </div>
                <div class="col l-4 m-12 s-12">
                    <div class="main__pay">
                        <div class="pay-info">
                            <div class="main__pay-text">
                                Giao hàng
                            </div>
                            <div class="main__pay-text">
                                Giao hàng miễn phí
                            </div>

                        </div>
                        <div class="pay-info">
                            <div class="main__pay-text">
                                Tổng thành tiền</div>
                            <div class="main__pay-price">
                                @ViewBag.TongTien VND
                            </div>
                        </div>
                        <a asp-action="ThanhToan" asp-controller="GioHangs" class="btn btn--default orange"> Tiến hành thanh toán</a>
                    </div>
                </div>
            </div>
        </div>